body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  background-color: #dad7d721;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #252525;
}

div {
  background-color: transparent;
}

textarea,
input[type=text] {
    font-family:Arial;
}

/* App classes*/

.container {
  margin: 0 auto;
  padding: 10px;
  height: 100%;
  background-color: transparent;
}

.screen-size {
  height: 100vh;
}

.new-user {
  flex-direction: column;
  padding: 20px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background: #fff;
  outline: none;
}

.user-input {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #0000004a;
  cursor: text;
  background: #fff;
  font-size: 16px;
  width: 230px;
  position: relative;
  border-radius: 5px;
}

::placeholder {
  color:#00000056;
  opacity: 1;
}

.btn, .btn-comment {
  text-transform: uppercase;
  margin: 15px auto;
  padding: 10px;
  border: 1px solid #0000004a;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  width: 250px;
  position: relative;
  outline: none;
  color: #000000c0;
}

.btn:disabled {
  color: #00000065;
}

.btn:hover, .btn-comment:hover {
  border-color: #00000080;
  text-decoration: none;
  background: #d3d3d321;
}

.btn-comment {
  margin-top: 50px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  font-weight: bold;
}

.nav {
  margin: -10px;
  padding: 10px 100px;
  margin-bottom: 20px;
}

.select {
  background-color: transparent;
  margin: 15px auto;
  height: 40px;
  border: 1px solid #0000004a;
  font-size: 16px;
  width: 200px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.select:hover, .title-input:hover, .post-form-body:hover {
  background-color: #fff;
}

.select select {
  text-transform: uppercase;
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  appearance:none;
  cursor: pointer;
  outline: none;
}

.dropdown-icon {
  margin-left: 170px;
  font-size: 20px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.dashboard-separator {
  border-right: 1px solid #00000023;
  height: 100vh;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.filter {
  align-self: flex-start;
  margin-top: 100px;
  margin-right: 60px;
  margin-left: -200px;
}

.post {
  padding-left: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  width: 590px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
  background-color: #fff;
}

.post:hover {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
}

.comment {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  cursor: pointer;
  width: 560px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-bottom: 1px solid #0000003b;
}

.post-list, .comment-list {
  margin-top: 20px;
  width: 600px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.post-icon {
  font-size: 20px;
  color: #697784cb;
  margin-right: 20px;
}

.comment-icon {
  font-size: 17px;
  color: #697784cb;
  margin-right: 20px;
}

.post-icon-filled, .comment-icon-filled {
  font-size: 20px;
  color: #6f00d6e3;
  margin-right: 20px;
}

.post-icon:hover, .comment-icon:hover {
  color: #6f00d6e3;
  cursor: pointer;
}

.post-info, .comment-info {
  margin-top: -15px;
  font-size: 15px;
  color: #969696;
}

.post-body {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  word-wrap: break-word;
  padding-right: 15px;
}

.comment-body {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
  word-wrap: break-word;
  padding-right: 15px;
}

.post-icons, .comment-icons {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.post-icon-comments {
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
}

.post-icons span {
  font-size: 18px;
  color: #697784cb;
  margin-left: -9px;
  margin-right: 9px;
}

.comment-icons span {
  font-size: 16px;
  color: #697784cb;
  margin-left: -9px;
  margin-right: 9px;
}

.title-input {
  padding: 10px;
  border: 1px solid #0000004a;
  cursor: text;
  background: transparent;
  font-size: 16px;
  width: 510px;
  position: relative;
  border-radius: 5px;
  outline: none;
  margin-bottom: 15px;
}

.post-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.post-form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-form-body {
  display: flex;
  width: 530px;
  height: 130px;
  border: 1px solid #0000004a;
  cursor: text;
  background: #fff;
  position: relative;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 20px;
}

.post-form-body textarea {
  position: absolute;
  font-size: 16px;
  width: 510px;
  height: 110px;
  border-color: transparent;
  resize: none;
  outline: none;
  background-color: transparent;
}

.form-select .select{
  width: 530px;
}

.form-select .select .dropdown-icon {
  margin-left: 500px;
}

.config {
  align-self: flex-end;
  margin-right: 55vh;
  margin-bottom: 40px;
  margin-top: -10px;
}